nav {
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

ul {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li  {
    display: inline;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: black;
}

.timer-container, .timer-label, #time {
    display: inline;
}

.quiz-intro {
    width: 50%;
    margin: 150px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: -20px 0;
}

.title {
    text-align: center;
    font-weight: bold;
}

.descr {
    text-align: center;
}

.button-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#get-started {
    border-radius: 3px;
    background-color: blue;
    padding: 7px 9px;
    color: white;
}

#get-started:hover {
    background-color: rgb(66, 32, 237);
}


.question-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.question-container {
    margin: 0 auto;
    width: 50%;
    display: none;
    border: 2px solid black;
    min-height: 300px;
    justify-content: center;
}

.question-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
}

.question-list button {
    list-style-type: none;
    padding: 15px 10px;
    width: 100%;
    margin: 10px 0;
}

.completion-container  {
    display: none;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    min-height: 300px;  
}

.completion-title {
    font-weight: bold;
    font-size: 2.5rem;
}


.completion-form {
    /* display: none; */
    width: 100%;
}

.completion-form input {
    margin: 10px;
}

#score {
    background-color: rgb(236, 234, 234);
}

.final-scores-container {
    /* display: none; */
    min-height: 300px;
    border: 3px solid black;
    width: 50%;
    margin: 0 auto;
}


#score-table {
    width: 100%;
    height: inherit;
    text-align: center;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: rgb(220, 245, 224);

}

.finals-hider {
    display: none;
}

